<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <%- include('partials/head', { originalname: data.originalname, mime: mime, key: key, views: data.views }) %>
</head>
<body class="bg-dark">
    <%- include('partials/navbar') %>
    <div class="container mt-3">
        <div class="row">
                <% switch (mime) {
                    case "video": 
                    case "audio":
                    %>
                        <%- include('partials/video') %>
                    <% break;
                    case "image": %>
                        <%- include('partials/image') %>
                    <% break;
                    case "application": %>
                        <%- include('partials/download') %>
                    <% break;
                    default: %>
                        <%- include('partials/embed') %>
                    <% break; } %>

            <%- include('partials/info') %>
        <div>
    </div>
</body>
</html>

